header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #BDE5FC;  
    padding: 10px 20px;  
}

h1 {
    font-family: 'Roboto', Calibri, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: normal;
    color: #4b4b4b;
}

nav{
    text-align: right;
}

a {
    display: inline-flex;
    align-items: center;
    color: #4b4b4b;
    font-size: 20px;
    font-family: 'Roboto', Calibri, Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin-right: 30px;
}

#button {
    display: inline-block;
    background-color: #72CAFD;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.062);
    padding: 18px 20px;
    margin-right: 0;
    transition: transform 10ms cubic-bezier(.46,.97,.68,2.48);
   }

#button:hover {
    transform: scale(1.08);
}