.box1 {
    background-color: #72CAFD;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.062);
    width: 280px;
}

.box1 .title-card {
    text-align: center; 
    font-size: 42px;
    color: white;
    padding-top: 110px;
    padding-bottom: 110px;
}