.main-banner {
    box-sizing: border-box;
    background-image: linear-gradient(#BDE5FC, white);
    height: 700px;
    padding-top: 200px;
    padding-left: 100px;
}

.main-banner .wrapper {
    display: flex;
    flex-direction: column;
    width: 460px;
}

.main-banner .main-box {
    margin-bottom: 38px;

}

.main-banner .navigation {
    display: flex;
    justify-content: space-around;
}