.main-footer {
    display: flex;
    background-color: #72CAFD;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
}

.main-footer .action{
    margin-right: 10px;
    margin-left: 10px;
}