.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #BDE5FC;  
    padding: 10px 100px;  
}

.main-header .detail {
    color: #72CAFD;
    font-weight: bolder;
}
