.progress-bar {
    box-sizing: border-box;
    background-color: #f4fcfc;
    border: 3px solid #4b4b4b;
    height: 35px;
}

.progress-bar::-webkit-progress-bar,
.progress-bar::-moz-progress-bar  {
    background-color: #72CAFD;
}