.skill-tec {
    display: flex;
    color: #4b4b4b;
    font-size: 25px;
}

.skill-tec .icon {
    margin-right: 25px;
}

.skill-tec .right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}